@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Shantell', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00d9ff;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 300px;
    font-size: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 20px;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #ffffff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00eeff;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #000000;
    background-color: #ffd000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #00f7ff;
    color: #000000;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #ebff79;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ffd000;
    font-size: 100%;
    font-weight: 600;
}

header .content h1{
    color: #00f7ff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #00f7ff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ffffff;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #ffe600;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fffb03;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #868686;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #00eeff;
}

.features .card span{
    display: inline-block;
    background-color: #ffc31f;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #000000;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #000000;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #003cff;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #00ffea;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #ffa600;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #ffffff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #00d9ff;
}

.pricing .card p{
    color: #ffffff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #d9ff00;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #ffd900;
    border-color: #000000;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
    border-radius: 30px;
    
}

footer .column .logo{
    max-width: 200px;
    margin-bottom: 4rem;
    font-size: 24px;
}

footer .column p{
    color: #fbff1f;
    margin-bottom: 2rem;
    font-size: 24px;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #00fff2;
    border: 1px solid hsl(40, 2%, 37%);
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
    align-items: center;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #ffa600;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ffa600;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #c5d81d;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}
/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000000;
  }
  
  /* Contact Section Styles */
  
  #contactenos {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ffd900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contactenos h2 {
    margin-top: 0;
  }
  
  #contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  #contactForm label {
    margin-bottom: 10px;
  }
  
  #contactForm input[type="text"],
  #contactForm input[type="email"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffd900;
  }
  
  #contactForm button[type="button"] {
    width: 100%;
    height: 40px;
    background-color: #ffbb00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contactForm button[type="button"]:hover {
    background-color: #00ffff;
  }
  

  #resultado h3 {
    margin-top: 0;
  }
  

  
  footer {
    background-color: #333;
    color: #ff10c3;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin: bottom 0px; ;
  }
.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
    margin-top: 50px;
}


.map-container {
    position: relative;
    width: 100%;

  }
  
  #contactenos {
    position: absolute;
    top: 10%;
    right: 10px;
    transform: translate(-50%);
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #00ffea;
    z-index: 5;
    margin-top: 50px;
    border-radius: 10px;
    border-color: #00e1ff;
  }



img {
    border: 3px solid hwb(0 58% 39%);
    border-radius: 10px;
    padding: 5px;
}
